._4sp8, ._5irm._7mkm, .clearfix._17pz, ._3egs, ._3058._4k7a._3-9b.direction_ltr, ._42ef{
    background-color: #111 !important;
}

._6-xk, ._1ht5,  ._3058._ui9._hh7._6ybn._s1-._52mr._3oh-._6uum, ._3058._ui9._hh7._6ybn._s1-._52mr._3oh-, ._5iwm._6-_b._150g._58ah, ._7mki, ._7mkk._7t1o._7t0e{
    background-color: #252627 !important;
}

._3058._4k7a._3-9b.direction_ltr, span._3oh-._58nk, ._5rp7._5rp8, span._1ht6._7st9, abbr._1ht7._6zkh.timestamp, ._ih3, h1, h2, h3, h4, h5, ._3szq, ._8slc, ._4rph ._4rpj, ._1mf._1mj, input._58al._7tpc, ._3ihp._87b_, span._5qsj, ._4ik4._4ik5, span, ._3eus._6_mz, a, .__6k, .__6l{
    color: white !important;
}

span._4kf5._4kf6{
    color: black !important;
}

/* path#Fill-1, path#Fill-2, svg.j7vl6m33.k27skwkl.f1pz0i20.om3e55n1, path#Fill-8, path#Fill-19 {
    fill: white !important;
} */

path{
    fill: white !important;
}

._7kpk, input._58al._7tpc{
    background-color: rgb(107, 107, 107) !important;
}